.container {
  background-color: #d8d8d8;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
}

.con {
  background-color: #d8d8d8;
  min-width: 100%;
  min-height: 100%;
}

.above {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #000000;
  width: 100%;
  height: 60px;
  padding-left: 40px;
  gap: 20px;
}

.above img {
  width: 41px;
  height: 41px;
}

.above h6 {
  font-size: 25px;
  color: white;
  letter-spacing: 0.05em;
}

.spread {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  height: 100%;
  width: 100%;
  padding-top: 120px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  background-color: #5d1c1c;
  color: #ffffff;
  font-size: 40px;
  border: 2px solid transparent;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #852626;
  transition-duration: 0.3s;
}

.button img {
  height: 50%;
}
